body {
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.outside {
    height: 1050px;
    width: 1050px;
    position: relative;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
#gameContainer {
    position: absolute;
    height: 1000px;
    width: 1000px;
    background-color: white;
    position: relative;
}
.inside {
    position: absolute;
    height: 50px;
    width: 50px;
}
#food {
    position: absolute;
    height: 50px;
    width: 50px;
    top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#apple {
    height: 100%;
    width: 100%;
}
#score {
    font-size: 56px;
    font-family: Arial, Helvetica, sans-serif;
}
#resetBtn {
    font-size: 28px;
    border-radius: 15px;
}

