html {
  height: screen;
  width: screen;
}
body {
  background-color: rgb(255, 255, 255);
  height: screen;
  width: screen;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#game-board {
  display: grid;
  grid-template-columns: repeat(20, 20px);
  grid-template-rows: repeat(20, 20px);
  gap: 1px;
  margin: 20px auto;
  width: 420px;
  height: 420px;
  background-color: black;
  border: 6px black solid;
}

.cell {
  width: 20px;
  height: 20px;
  background-color: #eaeaea;
}

.snake {
  background-color: green;
}

.food {
  background-color: red;
}

#scoreboard {
  text-align: center;
  margin-top: 10px;
  color: black;
}

#reset-button {
  display: block;
  margin: 10px auto;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 25px;
}
p {
  color: black;
  font-size: 40px;
  height: 70px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin: 10px;
  background: rgb(34,193,195);
background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
}
.whole {
  height: screen;
  width: screen;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}